/*@font-face {font-family:'DINRoundPro-Light';src: url('../fonts/DINRoundPro-Light.otf');}*/

::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track {
    background: #f7f9fc;
}

::-webkit-scrollbar-thumb {
    background: #2983c5;
}

::-webkit-scrollbar-thumb:hover {
    background: #174ca5;
}


.htabs #btn_vk.selected,.btn-vk {
    padding-bottom: 7px;
    color: white;
    background: #0b79b5;
}
.btn-vk:hover {
    color:white;
    background: #3687b3;
}
.btn-instagram {
    color: #ffffff !important;
    background-color: #dd2A7b;
    border-color: #dd2A7b;
}
.btn-instagram:hover {
    background-color: #8b52b5;
}

.btn-facebook {
    color: #ffffff !important;
    background-color: #3b5998;
    border-color: #3b5998;
}
.btn-facebook:hover {
    background-color: #3b5998;
}

.btn-tumblr {
    color: #ffffff !important;
    background-color: #35465c;
    border-color: #35465c;
}
.btn-tumblr:hover {
    background-color: #35465c;
}

.btn-twitter {
    color: #ffffff !important;
    background-color: #1da1f2;
    border-color: #1da1f2;
}
.btn-twitter:hover {
    background-color: #1da1f2;
}

.smm-heading-title {
    font-size:22px!important;
    font-family: 'DINRoundPro-Light'!important;
    color:white!important;
}
.smmposting-container > .smm-heading-title {
    color: #262f3d!important;
}
.smm {
    color:#01acc0;
}

.panel-default {
    border-top: 1px solid #e8e8e8;
}

.social {
    text-align: center;
    width: 35px;
    height: 35px;
    float: left;
    /* background: #fff; */
    /* border: 1px solid #ccc; */
    /* box-shadow: 0 2px 4px rgba(0,0,0,0.15), inset 0 0 50px rgba(0,0,0,0.1); */
    border-radius: px;
    margin: 0 10px 10px 0;
    padding: 6px;
    color: #ffffff;
    line-height: 20px;
}

.bg-danger {
    background: #f56b6b;
}

.swal2-popup {
    font-size: 1.1em;
}

.product-arrow {
    position: relative;
    top: 42px;
    left: -120px;
    z-index: 1;
}

.product-arrow i {
    background-image: url(../../../image/smmposting/sprite.cf7ea511430611c78ef17b5c7abdaa7d.png);
    background-position: -116px -64px;
    width: 82px;
    height: 29px;
    position: relative;
    right: -31px;
    top: -5px;
    display: block;
}



.product-arrow em {
    display: block;
    color: #72c7ac;
    font-size: 1em;
    line-height: 1.3;
}

.product-arrow-up em {
    display: block;
    color: #72c7ac;
    font-size: 1em;
    line-height: 1.3;
}

.product-arrow-up {
    position: relative;
    /* top: 42px; */
    /* left: -120px; */
    z-index: 1;
}

.product-arrow-up i {
    background-image: url(../../../image/smmposting/sprite.cf7ea511430611c78ef17b5c7abdaa7d.png);
    background-position: -116px -64px;
    width: 82px;
    height: 29px;
    position: relative;
    right: -31px;
    top: -5px;
    display: block;
    transform: rotate(-150deg);
}

.dated {
    cursor: pointer;
    border-bottom: #7ccbb2 dashed 1px;
}

.custom-control-label {
    position: relative;
    margin-bottom: 0;
    vertical-align: top;
}

label {
    display: inline-block;
    margin-bottom: .5rem;
}



.custom-control {
    position: relative;
    display: block;
    min-height: 1.3125rem;
    /* padding-left: 1.5rem; */
}

.card {
    margin-bottom: 2rem;
    box-shadow: 0 0 0.875rem 0 rgba(53,64,82,.05);
    position: relative;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid transparent;
    border-radius: .25rem;
}
.card-img, .card-img-bottom, .card-img-top {
    max-width: 100%;
    height: auto;
}
.card-img, .card-img-top {
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
}
.card-img, .card-img-bottom, .card-img-top {
    flex-shrink: 0;
    width: 100%;
}

.card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: #fff;
    border-bottom: 0 solid transparent;
}
.card-body {
    -webkit-box-flex: 1;
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
}

.card-actions .dropdown {
    line-height: 1.4;
}
.float-right {
    float: right!important;
}
.float-left {
    float: left!important;
}
.pl-4, .px-4 {
    padding-left: 1.5rem!important;
}
.pr-4, .px-4 {
    padding-right: 1.5rem!important;
}
.pt-4, .py-4 {
    padding-top: 1.5rem!important;
}

.pb-4 {
    padding-bottom: 1.5rem!important;
}

.mb-4 {
    margin-bottom: 1.5rem!important;
}

.smmposting-container {
    background-color: #f7f9fc;
    padding: 2rem;
    padding-top: 1rem;
    margin-bottom: 2rem;
}

.social {
    width: 25px;
    height: 25px;
    padding: 0px!important;
    text-align: center;
    color: #ffffff!important;
    line-height: 26px;
}

.d-flex {
    display: flex;
}

.w-100 {
    width: 100%;
}

.mt-2 {
    margin-top: 2rem!important;
}

.socials-grey i {
    font-size:3rem;
    padding:1rem;
    color: #eaeaea;
}

.socials-grey i.fa.fa-vk:hover {
    color:#45668e;
}

.socials-grey i.fa.fa-odnoklassniki:hover {
    color:#ed812b;
}

.socials-grey i.fa.fa-send:hover {
    color:#0088cc;
}

.socials-grey i.fa.fa-facebook:hover {
    color:#3b5998;
}

.socials-grey i.fa.fa-instagram:hover {
    color:#e1306c;
}

.socials-grey i.fa.fa-tumblr:hover {
    color:#35465c;
}

.socials-grey i.fa.fa-twitter:hover {
    color:#1da1f2;
}



.socials i {
    font-size: 2.4rem;
    padding:1rem;
    color: #eaeaea;
}

.socials i.fa.fa-vk {
    color:#45668e;
}

.socials i.fa.fa-odnoklassniki {
    color:#ed812b;
}

.socials i.fa.fa-send {
    color:#0088cc;
}

.socials i.fa.fa-facebook {
    color:#3b5998;
}

.socials i.fa.fa-instagram {
    color:#e1306c;
}

.socials i.fa.fa-tumblr {
    color:#35465c;
}

.socials i.fa.fa-twitter {
    color:#1da1f2;
}

.smm-project {
    background-image: url(../../../image/smmposting/bg_image.png);
    background-repeat: no-repeat;
    background-position-x: right;
    /* background-image: url(https://smm-posting.ru/frontend/smm-posting/images/group.svg); */
    background-repeat: no-repeat, repeat;
    background-position-y: bottom;
    background-size: 287px;
    background-position-x: right;
}

.smm-project .card-header {
    background-color: unset;
}


.page-header {
    background: #4fa2d0;
    padding: 10px 0px 10px 0px;
    background-image: url(https://smm-posting.ru/frontend/smm-posting/images/group.svg);
    background-repeat: no-repeat, repeat;
    background-position-y: -45px;
    background-size: 405px;
    background-position-x: right;
    /* background-position: right; */
    margin: 0px;
    border-bottom: 2px solid #6ec0ec;
}

@media screen and (max-width:768px) {
    .page-header {
        background-image: none;
    }
}


.resp-account-smmposting {
    color:white;
    padding: 0px 0px 20px 0px;
    font-size:11px;
}

.navbar-brand > img {
    /*display: none!important;*/
}

.mb-0 {
    margin-bottom: 0px!important;
}

span.js-name {
    line-height: 26px;
}
.acc-td {
    padding-left: 20px!important;
    padding-top: 15px!important;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    font-weight: bold;
    color: #fff!important;
    background-color: #4fa2d0;
    border:none;
    /*     border-radius: 7px; */
}

.nav-tabs > li > a {
    border-bottom:unset;
}

ul.nav.nav-tabs {
    border-bottom: unset;
}


.row-flex {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0;
}